/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background: #3B5998;
    border: none;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
    height: 450px;
}


/* Set gray background color and 100% height */

.sidenav {
    padding-top: 20px;
    background: #8B9DC3;
}


/* Set black background color, white text and some padding */

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}


/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: 100%;
        padding: 15px;
    }
    .row.content {
        height: 100%;
    }
}


/* 텝 */

body {
    margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

body {
    margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


/* 따로 분리 시켜놓을 css (main.css)*/

.side_graph {
    height: 130px;
}

#chattingMsgBox {
    height: 250px;
}

#select_type_box li {
    margin-left: 8px;
}

#act_type,
#sido_type,
#sigugun_type {
    margin-top: 8px;
    margin-left: 5px;
}

.map {
    height: 100%;
    width: 100%;
}

#myNavbar {
    text-align: right;
}

.navbar-brand {
    font-size: 50px;
}

#myLocation {
    height: 33.5px;
    width: 50px;
    display: inline-block;
    margin-top: 8px;
    line-height: 33.5px;
    color: red;
    font-size: 35px;
    background: none;
    border: none;
}